
<div class="input-group mb-3">
    <input type="text" class="form-control" aria-label="Text input with dropdown button" [ngClass]="['bg']" placeholder="rechercher..." #search>
    <select class="form-select" id="inputGroupSelect01" [ngClass]="['bg']" #category>
        <option selected value="0">Nom</option>
        <option value="1">Localisation</option>
        <option value="2">Type</option>
        <option value="3">Email</option>
        <option value="4">Téléphone</option>
    </select>
    <button type="button" class="btn" [routerLink]="'/search'" [ngClass]="['crimsonButton']" (click)="findByParam(category.value ,search.value)">recherche</button>
  </div>
  <div class="btn-group" *ngIf="this.login == true;else elseBlock">
    <button type="button" class="btn" [ngClass]="['crimsonButton']" [routerLink]="['/etablissement',this.mail]">Mon établissement</button>
    <button type="button" class="btn" [ngClass]="['crimsonButton']" [routerLink]="'/utilisateur'">Mon profil</button>
    <button type="button" class="btn" [ngClass]="['crimsonButton']" [routerLink]="''" (click)="signOut()">Déconnexion</button>
</div>
<ng-template #elseBlock>
    <div class="btn-group" >
        <button type="button" *ngIf="!this.isMenu" class="btn" [ngClass]="['crimsonButton']" [routerLink]="''">Retour à l'accueil</button>
    </div>
</ng-template>