<form>
    <div class="mb-3">
      <label for="nom" class="form-label">Nom de l'etablissement</label>
      <input type="nom" class="form-control" id="nom" aria-describedby="nom" #nom>
    </div>
    <div class="mb-3">
      <label for="localisation" class="form-label">Localisation</label>
      <input type="localisation" class="form-control" id="localisation" #localisation>
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">type d'etablissement</label>
        <input type="type" class="form-control" id="type" #type>
    </div>
    <div class="mb-3">
      <label for="telephone" class="form-label">Numéro de téléphone</label>
      <input type="telephone" class="form-control" id="telephone" aria-describedby="telephone" #telephone>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description de l'établissement</label>
      <input type="description" class="form-control" id="description" aria-describedby="description" #description>
    </div>
    <button type="submit" class="btn" [routerLink]="'/etablissement'" [ngClass]="['crimsonButton']" (click) = "updateInstitution(nom.value,localisation.value,type.value,telephone.value,description.value)">Submit</button>
  </form>