<div class="container" [ngClass]="['bg']">
    <div class="btn-group" *ngIf="this.login == true">
        <button type="button" class="btn" [ngClass]="['crimsonButton']" >Editer</button> <!-- TODO add/ modify etablsisement-->
        <button type="button" class="btn" [ngClass]="['crimsonButton']" [routerLink]="''" (click)="signOut()">Déconnexion</button>
    </div>
    <app-etablissement [etablissement]="this.etablissement"></app-etablissement>
    <br>
    <app-one-week-calendar></app-one-week-calendar>
    <br>
    <div class="container">
        <app-liste-commentaires [estUtilisateur]=false [id]=3 ></app-liste-commentaires>
    </div>
    <form *ngIf="this.login == true">
        <br>
        <div class="input-group mb-3">
            <label class="form-label">Ajouter un commentaire: </label>
            <input type="text" class="form-control" placeholder="Votre commentaire" aria-label="Recipient's username" aria-describedby="button-addon2" [ngClass]="['input']" #comment>
            <button class="btn" type="button" id="button-addon2" [ngClass]="['crimsonButton']" (click)="addComment(comment.value)">Ajouter le commentaire</button>
        </div>

    </form>
  </div>