<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Adresse email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #email>
    <div id="emailHelp" class="form-text">Votre adresse mail ne sera jamais partagée avec personne.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" id="exampleInputPassword1" #password>
  </div>
  <button type="submit" class="btn" [routerLink]="'/utilisateur'" (click) = "onSignUp(email.value,password.value)" [ngClass]="['redButton']">Envoyer</button>
  <a class="nav-link" [routerLink]="'/newaccount'">Pas de compte?</a>
  <button (click) = "onGoogle()" [ngClass]="['login-with-google-btn']">Se connecter avec google</button>
</form>