<div class="card mb-3 text-center" style=" border-width: 0ch;" [ngClass]="['bg']">
    <!--<img src={{etablissement.img}} class="img-fluid rounded-start" alt={{etablissement.nom}}>-->
    <div class="card-body">
      <a class="card-title" [routerLink]="'/etablissement'"><h5>{{etablissement.name}}</h5></a>

      <div *ngIf="login">
        <button [ngClass]="['like']" class="btn" (click)="like()" *ngIf="estAime;else elseBlock"><img src="../../assets/red_heart.png" alt="unlike" width="50" height="50"><p>Ne plus aimer</p></button>
        <ng-template #elseBlock > <button [ngClass]="['like']" class="btn" (click)="like()" ><img src="../../assets/heart_black.png" alt="like" width="50" height="50"><p>Aimer</p></button></ng-template>
        <p></p>
     </div>

      <h6 class="card-subtitle mb-2 text-muted">{{etablissement.localisation}}</h6>
      <p class="card-text">{{etablissement.telephone}}</p>
      <p class="card-text">{{etablissement.type}}</p>
      <p class="card-text">{{etablissement.mail}}</p>
      <p></p>
      <p class="card-text">{{etablissement.desc}}</p>
    </div>
  </div>